html {
    text-align: center;
    font-size: 1.5rem;
}

/* === Header  === */
header {
    background: gray;
    padding: 2vw;
    border-bottom: 1px solid #ccc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 2rem;
}

header ul {
    display: flex;
    gap: 2vw;
}

header ul li a {
    color: white;
    text-decoration: none;
}

div.header {
    display: flex;
    gap: 10px;
    color: white;
}

div.header a {
    text-decoration: none;
    color: white;
}

/* === BANNER === */
.banner {
    margin: 5vw 0;
}

section.banner h2 {
    font-size: 7rem;
    margin-bottom: 5vw;
}

.div-banner {
    background: url('../src/casameno-foto2 - Copia.webp') no-repeat center center;
    background-size: cover; 
    padding: 30vh 0;
}

.div-banner p {
    color: white;
    font-size: 2rem;
}

/* === Conteudo === */
.conteudo {
    padding: 0 5%;
    margin-bottom: 5rem;
}

.conteudo ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
}

.conteudo ul li {
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.3s;
}

.conteudo ul li a {
    color: white;
    font-size: 2rem;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 5px;
}

#foto1 { background-image: url('../src/casamento-foto1.webp'); }
#foto2 { background-image: url('../src/casamento-foto3.webp'); }
#foto3 { background-image: url('../src/casamento-foto4.avif'); }
#foto4 { background-image: url('../src/casameno-foto5.avif'); }

/* === Registry === */
