html {
    text-align: center;
    font-size: 1.5rem;
}

/* === Header  === */
header {
    background: gray;
    padding: 2vw;
    border-bottom: 1px solid #ccc;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 2rem;
}

header ul {
    display: flex;
    gap: 2vw;
}

header ul li a {
    color: white;
    text-decoration: none;
}

div.header {
    display: flex;
    gap: 10px;
    color: white;
}

div.header a {
    text-decoration: none;
    color: white;
}

/* === BANNER === */
.banner {
    margin: 5vw 0;
}

section.banner h2 {
    font-size: 7rem;
    margin-bottom: 5vw;
}

.div-banner {
    background: url('../src/casameno-foto2 - Copia.webp') no-repeat center center;
    background-size: cover; 
    padding: 30vh 0;
}

.div-banner p {
    color: white;
    font-size: 2rem;
}

/* === Conteudo === */
.conteudo {
    padding: 0 5%;
    margin-bottom: 5rem;
}

.conteudo ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
}
#foto1 { 
    background-image: url('../src/casamento-foto1.webp');
}
#foto2 {
     background-image: url('../src/casamento-foto3.webp');
}
#foto3 {
     background-image: url('../src/casamento-foto4.avif');
}
#foto4 { 
    background-image: url('../src/casameno-foto5.avif');
}

.conteudo ul li {
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.conteudo ul li a {
    color: white;
    font-size: 2rem;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 5px;
}


/* === Registry === */

section.registry {
    background:  url('../src/imagem-vaso-flor - Copia.avif') no-repeat center center;
    background-size: cover;
    padding: 15vh 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

section.registry h2 {
    font-size: 8rem; 
}

section.registry p {
    font-size: 1.5rem;
    max-width: 600px;
    margin-bottom: 1rem;
}

section.registry button {
    background: gray;
    color: white;
    border: 2px solid white;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 3vw;
}

section.registry button:hover {
    background: white;
    color: gray; 
    transform: scale(1.05);
}

/*=== Contact Us ===*/

/*=== Contact Us Corrigido ===*/

.contact {
    padding: 20vh 5%;
    background: url('../src/contate-nos.avif') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 7vw 0 0 0;
}

.contact h2 {
    font-size: 5rem; 
    color: white;
}

.contact-tel-email {
    padding: 30px 50px;
    background: gray;
    display: flex;
    gap: 10px;
    border-radius: 5vw;
}

.contact-tel-email span {
    font-weight: bold;
    color: white;
}

.contact-tel-email a {
    text-decoration: none;
    color: white;
}

/*=== Footer ===*/
footer{
    padding: 1vw;
    background: rgb(255, 230, 234);
    font-size: 1.5rem;
}
footer h2{
    margin: 2vw 0 3vw 0;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}
/* === RESPONSIVIDADE === */

@media (max-width: 768px){
    html{
        font-size: 1rem ;
    }
    html h2{
        font-size: 3.5rem !important;

    }

    .hamburger {
        display: flex;
    }
    header ul {
       display: none; 
    flex-direction: column;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background: gray;
    padding: 20px 0;
    z-index: 10;
    }
    header ul.active {
        display: flex;
    }
    header ul li {
        margin: 15px 0;
    }

    .div-banner{
        padding: 15vh 0;
    }
    .div-banner p{
        font-size: 1.5rem;
    }
   
    footer h3{
        font-size: 2rem;
        margin: 10px 0 10px 0;
    }
    .conteudo ul{
        display: block;
    }
    .conteudo ul li{
        margin: 10vw 0vw 10vw 0vw;
    }

    section.registry{
        padding: 10vh 0;
    }

    section.contact{
        padding: 10vh 0;
    }
    section.contact a{
        font-size: 1.5rem;
    }

    .contact-tel-email{
        padding: 5px 5px;
        align-items: center;
        margin: 10px;
    }
    .contact-tel-email a{
        font: size 1rem !important;
    }
    .contact-tel-email span{
        font-size: 1.5rem;
    }
    
}